* {
    --containerColor: #8fa2dd;
    --backgroundColor: #1f3f75;
    --mainTextColor: #6f7cd1;
    --borderColor: #6b67ff;
    --containerTextColor: #0f0f0f;
}

body {
    background-color: var(--backgroundColor);
    color: var(--mainTextColor);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: var(--mainTextColor);
    text-decoration: none;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.title > h1 {
    font-size: clamp(20px, 6vw, 60px);
    margin-top: 5vh;
    margin-left: clamp(30px, 10vw, 100px);
    grid-column-start: 1;
    grid-column-end: 1;
}

.title > a {
    grid-column-start: 1;
    grid-column-end: 1;
}

.content .textbox,
.content .media-gallery .media-item {
    border-radius: 10px;
}

.content .textbox {
    line-height: 1.6;
    padding: 1.5rem;
}

.content {
    margin: 3vw;
    max-width: 1000px;
}

.content h3 {
    font-size: 30px;
    margin-left: 1vw;
    line-height: 30px;
    margin: 0;
    margin-top: 2vw;
    margin-bottom: 5px;
}

.content .textbox {
    font-size: 20px;
    border: var(--borderColor) 0.5vw solid;
    background-color: var(--containerColor);
    padding-left: 2vw;
    padding-right: 2vw;
    color: var(--containerTextColor);
    display: flex;
    align-items: center;
}

.content .textbox a {
    color: var(--containerTextColor);
    text-decoration: underline;
    font-weight: bold;
}

.content .media-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    margin-top: 2vw;
    width: 100%;
    justify-content: space-around;
}

.content .media-gallery .media-item {
    box-sizing: border-box;
    border: var(--borderColor) 0.5vw solid;
    background-color: var(--containerColor);
    padding: 1vw;
    color: var(--containerTextColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.content .media-gallery .media-item img,
.content .media-gallery .media-item video {
    max-width: 100%;
    height: auto;
    margin-bottom: 1vw;
}

body h4 {
    margin: 0;
    padding: 0.3vw;
    justify-self: center;
}

body form {
    justify-self: center;
}

body form input {
    font-size: 20px;
    padding: 0.5vw;
    margin-top: 1vw;
    border: var(--borderColor) 0.3vw solid;
    border-radius: 0.5vw;
    background-color: var(--containerColor);
    color: var(--containerTextColor);
    width: 15vw;
    height: 5vw;
    font-weight: bold;
}

body form input:hover {
    background-color: #aebdf0;
    cursor: pointer;
}