* {
    --containerColor: #8fa2dd;
    --backgroundColor: #1f3f75;
    --mainTextColor: #6f7cd1;
    --borderColor: #6b67ff;
    --containerTextColor: #0f0f0f;
}

body {
    background-color: var(--backgroundColor);
    color: var(--mainTextColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    text-align: center;
    margin-top: 5vh;
}

.title h1 {
    font-size: clamp(40px, 8vw, 90px);
    margin: 0;
    text-decoration: underline;
    margin: 0;
    padding-bottom: 0px;
    line-height: 1.1;
}

.title h3 {
    font-size: clamp(18px, 3vw, 32px);
    margin: 0;
    padding-top: 0px;
    font-weight: normal;
}

.content {
    margin: 3vw auto;
    max-width: 1000px;
    width: 100%;
}

.content h2 {
    font-size: 30px;
    margin-left: 1vw;
    line-height: 30px;
    margin: 0;
    margin-bottom: 5px;
}

.about-me {
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.6;
    border: var(--borderColor) 0.5vw solid;
    background-color: var(--containerColor);
    color: var(--containerTextColor);
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    border-radius: 10px;
}

.about-me img {
    width: clamp(120px, 18vw, 250px);
    height: auto;
    margin: 2vw;
    border-radius: 1vw;
    border: var(--borderColor) 0.2vw solid;
}

.projects-list {
    font-size: 20px;
    border: var(--borderColor) 0.5vw solid;
    background-color: var(--containerColor);
    padding: 2vw;
    color: var(--containerTextColor);
    padding: 2rem;
    line-height: 1.7;
    border-radius: 10px;
}

.projects-list a {
    color: var(--containerTextColor);
    text-decoration: none;
}

.projects-list a:hover {
    color: #333;
}

.projects-list h4 {
    margin: 0vw;
}

.get-in-touch {
    font-size: clamp(20px, 2vw, 20px);
    line-height: 1.6;
    border: var(--borderColor) 0.5vw solid;
    background-color: var(--containerColor);
    padding: 2vw;
    color: var(--containerTextColor);
    border-radius: 10px;
}

.get-in-touch div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}