* {
    --containerColor: #6673b3;
    --backgroundColor: #04173a;
    --mainTextColor: #4d55a3;
    --borderColor: #2622db;
    --containerTextColor: #000000;
}

body {
    background-color: var(--backgroundColor);
    color: var(--mainTextColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    text-align: center;
    margin-top: 5vh;
}

.title h1 {
    font-size: 10vw;
    margin: 0;
    text-decoration: underline;
    margin: 0;
    padding-bottom: 0px;
    line-height: 10vw;
}

.title h3 {
    font-size: 4vw;
    margin: 0;
    padding-top: 0px;
    font-weight: normal;
}

.content {
    margin: 3vw;
    max-width: 1000px;
}

.content h2 {
    font-size: 30px;
    margin-left: 1vw;
    line-height: 30px;
    margin: 0;
}

.about-me {
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.6;
    border: var(--borderColor) 0.5vw solid;
    background-color: var(--containerColor);
    padding-left: 2vw;
    padding-right: 2vw;
    color: var(--containerTextColor);
    display: flex;
    align-items: center;
}

.about-me img {
    width: 15vw;
    height: auto;
    margin: 2vw;
    border-radius: 1vw;
    border: var(--borderColor) 0.2vw solid;
}

.projects-list {
    font-size: 20px;
    line-height: 25px;
    border: var(--borderColor) 0.5vw solid;
    background-color: var(--containerColor);
    padding: 2vw;
    color: var(--containerTextColor);
}

.projects-list a {
    color: var(--containerTextColor);
    text-decoration: none;
}

.projects-list a:hover {
    text-decoration: underline;
}

.projects-list h4 {
    margin: 0vw;
}

.get-in-touch {
    margin-top: 2vw;
    font-size: 2vw;
    line-height: 2.5vw;
    border: var(--borderColor) 0.5vw solid;
    background-color: var(--containerColor);
    padding: 2vw;
    color: var(--containerTextColor);
}

.get-in-touch div {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}